# build --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
# test --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain

build:pi --cpu=arm64
test:pi --cpu=arm64

build:pi --compiler=clang
test:pi --compiler=clang

build --enable_workspace